/* You can add global styles to this file, and also import other style files */
@import "intl-tel-input/build/css/intlTelInput.css";

.iti {
  width: 100%;
}

.iti input {
  height: 50px;
  border-radius: 25px;
  border: 2px solid #7b2629;
  padding-left: 55px !important;
  font-size: 15px;
}

.iti__country-list {
  max-height: 200px;
  overflow-y: auto;
}
