/*login*/

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
 /*border: 5px solid/* #7d342c*/
 /*	#8d988d;*/

 }

html, body {
  height: 100%; 
  width: 100%;  
  margin: 0;    
  padding: 0;  
  overflow: auto;
  box-sizing: border-box;
 
}


/*regiseter*/
/*
body {
    margin: 0;
    font-family: 'Georgia', serif; 
    background-color: #f8f0e3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden; 
    position: relative;
    
}
body::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-image: url('/green2.png'); 
    background-size: cover; 
    background-position: center bottom; 
    background-repeat: no-repeat;
    z-index: -1; 
}
html, body {
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    box-sizing: border-box;
}*/